@import './styles/variables.css';

.app {
  display: flex; /* Asegura que los elementos estén lado a lado */
  height: 100vh; /* Ocupa toda la altura de la pantalla */

  margin: 0; /* Elimina cualquier espacio adicional */
  background-color: var(--light-beige);
}

.left-section, .right-section {
  height: 100%; /* Ocupa toda la altura */
}

.left-section {
  flex: 1; /* Ocupa la mitad del ancho */
}

.right-section {
  flex: 1; /* Ocupa la mitad restante */
}

/* Media Queries */
@media (max-width: 768px) {
  .app {
    flex-direction: column; /* Cambia a disposición en columna */
  }

  .projects-grid {
    grid-template-columns: repeat(auto-fit, minmax(120px, 1fr)); /* Reduce el tamaño mínimo */
  }
}

@media (max-width: 480px) {
  .projects-grid {
    grid-template-columns: repeat(2, 1fr); /* Dos columnas en pantallas pequeñas */
  }

  .project-card {
    font-size: 0.8rem; /* Texto más pequeño en pantallas pequeñas */
    padding: 0.3rem; /* Reduce el espacio interno */
  }
}