.aboutme {
  position: relative;
  background: linear-gradient(135deg, #2b4f81, #1e3a5f); /* Degradado */
  color: var(--text-color);
  padding: 2rem;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: left;
  width: 50%; /* Ahora ocupa la mitad exacta */
  float: left; /* Se alinea al lado izquierdo */
  box-sizing: border-box;
  }
  
  .aboutme-content {
    max-width: 600px; /* Limita el ancho del contenido */
    margin: 0 auto; /* Centra el contenido horizontalmente */
  }
  
  .aboutme h1 {
    font-size: 2.5rem;
    margin-bottom: 1rem;
    text-shadow: 1px 2px 4px rgba(0, 0, 0, 0.3);
    animation: fadeIn 3s ease-in-out;
  }
  
  .aboutme p {
    font-size: 1rem;
    line-height: 1.6;
    margin-bottom: 1rem;
    text-shadow: 1px 2px 4px rgba(0, 0, 0, 0.3);
    animation: fadeIn 3s ease-in-out;
  }
  
  .aboutme ul {
    list-style: disc; /* Lista con viñetas */
    margin-left: 2rem;
    margin-bottom: 1rem;
    text-shadow: 1px 2px 4px rgba(0, 0, 0, 0.3);
    animation: fadeIn 3s ease-in-out;
    
  }
  
  .aboutme ul li {
    margin-bottom: 0.5rem;
    text-shadow: 1px 2px 4px rgba(0, 0, 0, 0.3);
    animation: fadeIn 3s ease-in-out;
  }

  .aboutme-content::before,
.aboutme-content::after {
  content: '';
  position: absolute;
  border-radius: 50%; /* Círculos decorativos */
  background: rgba(255, 255, 255, 0.1); /* Transparente */
  z-index: 0;
}

.aboutme-content::before {
  width: 150px;
  height: 150px;
  top: 20%;
  left: 10%;
}

.aboutme-content::after {
  width: 200px;
  height: 200px;
  bottom: 15%;
  right: 5%;
}
  @keyframes fadeIn {
    from {
      opacity: 0;
      transform: translateY(-20px);
    }
    to {
      opacity: 1;
      transform: translateY(0);
    }
  }
  @media (max-width: 480px) {
    .hero h1 {
      font-size: 2rem; /* Reduce el tamaño del título en pantallas pequeñas */
    }
  
    .hero p {
      font-size: 1rem; /* Reduce el tamaño del texto en pantallas pequeñas */
    }
  }